.dockerignore
.editorconfig
.env
.git
.gitignore
.huskyrc
.lintstagedrc
.prettierc
.vs
.vscode
.data
vendor
node_modules
composer.json
composer.lock
package-lock.json
package.json
Dockerfile
docker-compose.yml
docker-compose.*.yml
*/bin
*/obj
